    :root{
        --airhacks-background:#01CD01;
    }

    body{
           font-family: sans-serif;
       }
       div{
            background-color: var(--airhacks-background);
        }
        .content{
            background-color:silver;
        }
        #detail{
            background-color: var(--airhacks-background);
        }

        .mono{
            font-family: monospace;
        }