     :root {
        --airhacks-background: {
            background-color: #01CD01;
            font-family:monospace;
        }
        
    }

    body {
        font-family: sans-serif;
    }

    div {
        max-width: 200px;
        @apply --airhacks-background;
    }

    .content {
        background-color: silver;
    }

    #detail {
       @apply --airhacks-background;
       margin-left: auto;
       margin-right:auto;
       padding: 10px;
       border-color: black;
       border-width: 15px;
       border-style: dashed;
    }

    .mono {
        font-family: monospace;
    }