body{
    height: 100vh;
    background: silver;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
    

}
div{
    background: darkgreen;
    box-sizing: border-box;
}