section{
    height: 100vh;
    background: silver;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 2fr 6fr 1fr;
    grid-gap: 0.5em;

}
div{
    box-sizing: border-box;
}

header{
    background: lightgreen;
    grid-column: 1 / 3;
}
nav{
    background:darkgreen;
    grid-column: 1;
}
main{
    background: yellowgreen;
    grid-column: 2 / 3;
}

footer{
    grid-column: 1 / 3;
    background: blueviolet;
}